<!DOCTYPE html>
<html lang="en">
<head>
   {% include 'header.html' %}
</head>
<body>
<br>
<br>
<br>
<hr>
<div class="bodyWeightCalResult">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
             <hr>
             <h3 class="bg-info dark" style="text-align: center">Body weight calculation result</h3>
             <hr>
            <table class="table table-hover table-bordered table-sm" cellpadding="2" border="2" align="left" width="100%">


                        <thead class="thead-light">
                         <tr>
        <th style="text-align: left"> দৈর্ঘ্য (L)</th>
                             <td>
                                 {{ bodyLength }} Inch.
                             </td>
                              </tr>
                         <tr>
        <th style="text-align: left"> বুকের বেড়ের (G) </th>
                             <td>
                                 {{ bodyGrith }} Inch.
                             </td>
                             </tr>
                         <tr>
        <th style="text-align: left"> দৈহিক ওজন </th>
                             <td>
                                 {{ bodyWeight }} Kg.
                             </td>
                        </tr>

                        </thead>


                </table>

              </p>
            </div>
         </div>
      </div>
   </div>
</div>
</body>
<footer>
    {%   include 'footer.html' %}
</footer>
</html>