<!DOCTYPE html>
<html lang="en">
<head>
   {% include 'header.html' %}
</head>
<body>
<br>
<br>
<br>
<hr>
<div class="dmiFoodCal">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
             <h3 class="bg-info text-dark" style="text-align: center"> DMI food calculation result</h3>

            <table class="table table-hover table-bordered table-sm" cellpadding="2" border="2" align="left" width="100%">

                    <tr>
                        <thead class="thead-light">
        <th style="text-align: center"> Cow</th>
        <th style="text-align: center"> Cow Details </th>
    </tr>
                        </thead>

                <tr>
                        <td style="text-align: center">
                            Cow Status
                        </td>
                        <td style="text-align: center">
                            {{milkStatus}}
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center">
                            Milk Quantity(Ltr.)
                        </td>
                        <td style="text-align: center">
                           {{milkQunatity}}
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center">
                            Body Weight(Kg.)
                        </td>
                        <td style="text-align: center">
                            {{bodyWeight}}
                        </td>
                    </tr>

                 <tr>
                        <td style="text-align: center">
                            DMI Food Range(Kg.)
                        </td>
                        <td style="text-align: center">
                           Max {{DMIEnd}}
                             Min {{DMIStart}}


                        </td>
                    </tr>
                <tr>
                        <td style="text-align: center">
                            Rationing Mixed Food(Kg.)
                        </td>
                        <td style="text-align: center">
                           {{mixedFood}}
                        </td>
                    </tr>
                </table>

              </p>
            </div>
         </div>
      </div>
   </div>
</div>

</body>
<footer>
    {%   include 'footer.html' %}
</footer>
</html>