{% load staticfiles %}
<head>
  <title>Advance Agro</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>


<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
<div class="container">
  <a class="navbar-brand" href="{% url 'home' %}">
         <img src="{% static '/images/logo.png' %}" width="300px" height="35px">
      </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-sm-auto">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">ABOUT</a>
      </li>

        <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">RECORDS </a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'cowsRecord' %}">Cow Records</a>
        <a class="dropdown-item" href="{% url 'documents' %}">Sticky Notes</a>
    </div>

      </li>
        <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">MANAGEMENTS </a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'diseaseManagement' %}">Vaccine</a>
        <a class="dropdown-item" href="{% url 'breeding' %}">Breeding</a>
        <a class="dropdown-item" href="{% url 'milkManagement' %}">Milk</a>
        <a class="dropdown-item" href="{% url 'foodManagement' %}">Food</a>

    </div>

      </li>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        FOOD
      </a>
      <div class="dropdown-menu">

        <a class="dropdown-item" href="{% url 'mixed_food' %}">Food Rationing Formula</a>
        <a class="dropdown-item" href="{% url 'bodyWeightCal' %}">Body Weight Calculation</a>
           <a class="dropdown-item" href="{% url 'dmiFood' %}">DMI Food</a>
          <a class="dropdown-item" href="{% url 'grass' %}">Grass</a>

      </div>
    </li>


        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">DISEASE
        </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'signAndSymptom' %}">Sign and Symptom</a>
            <a class="dropdown-item" href="{% url 'vaccineSchedule' %}">Vaccine Schedule</a>

            <a class="dropdown-item" href="{% url 'medicine' %}">Treatment</a>

          </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">DAIRY CARE
        </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'dailyRoutine' %}">Daily Routine</a>
            <a class="dropdown-item" href="{% url 'bioSecurity' %}">Bio Security</a>


          </div>
      </li>

<li class="nav-item">
        <a class="nav-link" href="{% url 'file' %}">FILES</a>
      </li>
<li class="nav-item">
        <a class="nav-link" href={% url 'profitLoss'  %}>PROFIT/LOSS</a>
      </li>
	 
    </ul>
  </div>
</div>
</nav>

<br>



